
<div class="container">
<div>
    <br>
</div>
<mat-card class="mat-elevation-z8">
    <mat-card-content>
<div class="row">
    <div class="col-md-12">

                <form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="onFormSubmit()">
                    <table>
                        <tr>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input formControlName="productName" matTooltip="Enter Product Name" matInput placeholder="Product Name" autocomplete="off">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input formControlName="unitPrice" matTooltip="Enter Unit Price" matInput placeholder="Unit Price" autocomplete="off">
                                </mat-form-field>
                            </td>
        
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input formControlName="quantity" matTooltip="Enter Quantity" matInput placeholder="Quantity" autocomplete="off">
                                </mat-form-field>
                            </td>
                            <td>

                                <mat-form-field>
                                    <mat-label>Product Type</mat-label>
                                    <mat-select formControlName="productTypeId" matTooltip="Select Product Type" autocomplete="off">
                                      <mat-option *ngFor="let type of allProductTypes" [value]="type.productTypeId">
                                          {{type.typeName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </td>
                        </tr>
        
                    </table>
                    <td class="content-center">
                        <button type="submit" mat-raised-button color="accent" matTooltip="Submit" [disabled]="!productForm.valid">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" mat-raised-button color="accent" matTooltip="Reset" (click)="resetForm()">Reset</button>
                      </td>
                </form>

    </div>

</div>
<div><hr></div>
<div><hr></div>
<div class="row">

    <table  mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="productPurchaseId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ProductId</mat-header-cell>
            <mat-cell *matCellDef="let product">{{product.productPurchaseId}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="productName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ProductName</mat-header-cell>
            <mat-cell *matCellDef="let product">{{product.productName}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
            <mat-cell class="description-cell"
                        *matCellDef="let product">{{product.quantity}}</mat-cell>
    
        </ng-container>
    
        <ng-container matColumnDef="unitPrice">
            <mat-header-cell *matHeaderCellDef mat-sort-header>UnitPrice</mat-header-cell>
            <mat-cell class="duration-cell"
                        *matCellDef="let product">{{product.unitPrice}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="productTypeId">
            <mat-header-cell *matHeaderCellDef>productTypeId</mat-header-cell>
            <mat-cell class="duration-cell"
                        *matCellDef="let product">{{product.productTypeId}}</mat-cell>
        </ng-container>  
        
          <ng-container matColumnDef="Action">
            <mat-header-cell  *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell  *matCellDef="let product"> 
                <button data-target="#addEditUser"   mat-icon-button aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="accent" matTooltip="Action" (click)="sellProduct(product.productPurchaseId)">Sell</button></mat-cell>
          </ng-container>




        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    
    
    </table >
    <mat-paginator [length]="100"
        [pageSize]="6"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
        </mat-paginator>
</div>
</mat-card-content>
</mat-card>
</div>
